.env/
instance/
__pycache__
*pyc
.DS_Store
python
venv/
__pycache__/
database.sqlite3
help.txt
.env
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
instance/
.webassets-cache
student-mgt
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
